.eightball {
    /* text-align: center; */
}

.ball {
    border-radius: 100px;
    width: 200px;
    height: 200px;
    position: relative;
    color: white;
    text-align: center;

}

.msg {
    position: absolute;
    padding: 25%;
    font-size: 20px;
}

.reset {
    margin-top: 2.5%;
    margin-left: 11%;
}